.body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #afdfb1;
            padding: 10px;
            color: rgb(0, 0, 0);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .dropdown {
            width: 400px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            font-size: 16px;
        }

        .drop-sec{
            padding-top: 5%;
            padding-left: 30%;
        }

        .hint {
            color: #999;
        }
        .button {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            margin: 4px 2px;
        }
        .button:hover {
            background-color: #579571;
        }
        .box {
            font-size: large;
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .box-w {
            background-color: #eee;
            padding: 20px;
            text-align: center;
        }
        .content {
        text-align: center;
        }

        .content h2 {
        margin-top: 0;
        }

        .content img {
        max-width: 100%;
        margin-bottom: 10px;
        }
