<title>studentgrades</title>
    <section>
      
      <div class="drop-sec">
      <select class="dropdown">
      <option value="" disabled selected class="hint">Select an option</option>
      <option value="option1">Cource 1</option>
      <option value="option2">Cource 2</option>
      <option value="option3">Cource 3</option>
    </select></div>
    <div class="box-w"></div> 

    <div class="box">
      <h3>Cource Name: BLA BLA BLA </h3>
        <p>Midterm: 00 </p>
        <p>Quiz: 00 </p>
        <p>Assignment: 00 </p>
        <p>Project: 00 </p>
    </div>

  </section> 
